.avatar{
  width:92px;
  height:92px;
  display:grid;
  place-items:center;
  border-radius:50%;
  margin:45px 0 20px;
  background:linear-gradient(135deg,#8f88ff,#4a91ff);
  font-size:30px;
  font-weight:800;
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center top;
  display:block;
}
